@page "/About"
<PageTitle>About us</PageTitle>
<div class="wrapper">
    <h1>Our Amazing Team</h1>
    <div class="team">
        <div class="team_member">
            <div class="team_img">
                <img src="Andrei.png" alt="Team_image">
            </div>
            <h3>Ioanas Andrei</h3>
            <p class="role">Developer</p>
            <p class="subrole">(Cool during free time)</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
        </div>
        <div class="team_member">
            <div class="team_img">
                <img src="Freja.png" alt="Team_image">
            </div>
            <h3>Freja Kammersgaard</h3>
            <p class="role">Developer</p>
            <p class="subrole">(Kitten during free time)</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
        </div>
        <div class="team_member">
            <div class="team_img">
                <img src="Antoniu.png" alt="Team_image">
            </div>
            <h3>Antoniu Maxim</h3>
            <p class="role">Developer</p>
            <p class="subrole">(The best fish catcher)</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
        </div>
                <div class="team_member">
                    <div class="team_img">
                        <img src="Oliwia.png" alt="Team_image">
                    </div>
                    <h3>Oliwia Jankowska</h3>
                    <p class="role">Developer</p>
                    <p class="subrole">(Part time artist)</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
                </div>
    </div>
</div>
@code {
    
}