.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c86af;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.buttonC {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c86af;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e5e8e
}

.button:active {
    background-color: #3e728e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}