@page "/"
@using BlazorSide.Authentification
@inject IAuthService authService
@inject NavigationManager navMgr
<PageTitle>Index</PageTitle>

<h1>Bicyclest</h1>

The cyclest of them bikes.
<AuthorizeView>
    <NotAuthorized>
        Not logged in? Click <a href="Login">here</a> to login
    </NotAuthorized>
    <Authorized>
        Hello dear customer
    </Authorized>
</AuthorizeView>
